<!DOCTYPE html>
<html>
<head>
	<title>Greenfiltec AI chatbox</title>
	<link href="../static/favicon.ico" rel="icon" type="../static/x-icon">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/style.css" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	</script>
	<script>
	       $(document).ready(function(){
	           $('form').on('submit', function(event){
	               event.preventDefault(); // 阻止表單提交
	               $('#loading-animation').show(); // 顯示loading動畫
	               var form = $(this);
	               var url = form.attr('action');
	               var formData = form.serialize();
	   
	               $.ajax({
	                   type: 'POST',
	                   url: url,
	                   data: formData,
	                   success: function(response){
	                       $('#loading-animation').hide(); // 隱藏loading動畫
	                       $('#result').html(response);
	                   }
	               });
	           });
	       });
	</script>
</head>
<body class="container p-2">
	<div class="pt-3">
		<div class="content">
			<div class="text-center" id="loading-animation" style="display: none;">
				<p><span class="spinner"></span> 正在讀取資料中，請稍後...</p>
			</div>
			<div id="result">
				<img alt="logo" src="../static/filtec-LOGO.jpg" title="形象商標" width="50%">
				<form action="/" method="post">
					<div class="form-group">
						<label class="form-label" for="text_input">Enter a Question:</label> 
						<textarea class="form-control" id="text_input" name="text_input" rows="3"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-primary" type="submit" value="Detect">ASK!</button>
					</div>
				</form>
				<p><br>
				<br></p>
				<div class="card w-100 p-3" style="width: 18rem;">
					<div class="card-body">
						<h4 class="card-title">Your Previous Question: {{ sentence }}</h4>
					</div>
				</div>
				<p><br></p>
				<div class="row">
					{% if prediction %}
					<div class="col">
						<div class="card w-100 p-3" style="width: 18rem;">
							<div class="card-body">
								<h5 class="card-title">一般資料庫回答:</h5>
								<p class="card-text">{{ prediction }}</p>
							</div>
						</div>
					</div>{% endif %} {% if gptprediction %}
					<div class="col">
						<div class="card w-100 p-3" style="width: 18rem;">
							<div class="card-body">
								<h5 class="card-title">GPT智能回答:</h5>
								<p class="card-text">{{ gptprediction }}</p>
							</div>
						</div>
					</div>{% endif %}
				</div>{% if prediction or gptprediction %}
				<div class="row mt-4">
					<div class="col text-end">
						<form action="/discard" method="post">
							<input name="refresh" type="hidden" value="true"> <button class="btn btn-secondary" type="submit" value="Detect">下一題</button>
						</form>
					</div>
				</div>{% endif %}
			</div>
		</div>
	</div>
</body>
</html>